{{vmStore.saludo}}
<br>
<button type="button" class="btn btn-primary" ng-click="vm.itemPush(1)">Agregar producto 1</button>
<button type="button" class="btn btn-primary" ng-click="vm.itemPush(2)">Agregar producto 2</button>
<button type="button" class="btn btn-primary" ng-click="vm.itemPush(3)">Agregar producto 3</button>
<button type="button" class="btn btn-primary" ng-click="vm.itemPush(4)">Agregar producto 4</button>
<button type="button" class="btn btn-primary" ng-click="vm.itemPush(5)">Agregar producto 5</button>